.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/


# MY
#-------------------------
/.editorconfig
/composer.json
/contributing.md
/license.txt
/readme.rst

/system
/system/*

/application/views/welcome_message.php
/application/controllers/Welcome.php
/application/config
/application/config/*
/application/cache
/application/cache/*
/application/core
/application/core/*
/application/helpers
/application/helpers/*
/application/hooks
/application/hooks/*
/application/language
/application/language/*
/application/libraries
/application/libraries/*
/application/logs
/application/logs/*
/application/third_party
/application/third_party/*
/application/.htaccess

/application/admin/views/welcome_message.php
/application/admin/controllers/Welcome.php
/application/admin/config
/application/admin/config/*
/application/admin/cache
/application/admin/cache/*
/application/admin/core
/application/admin/libraries
/application/admin/libraries/*
/application/admin/logs
/application/admin/logs/*
/application/admin/models/db/SecurityUser.php
